


<div class="super-dialogue position-relative" style="height: 450px;"> 

    <div class="position-absolute" style="top: 0px; right: 0px;">
        <span class="material-icons pointer" (click)="onCancelClick()">
            close
        </span>
    </div>
    
    <!-- First Phase of Dialogue-->
    <div *ngIf="isStageOne" mat-dialog-content class="super-dialogue-align" layout="row"  layout-align="center center">
        <div>
            <h1 class="super-dialogue-title">Invite Startup</h1>
        </div>
        <div class="mt-3 d-flex w-100 justify-content-center">
            <mat-progress-bar mode="determinate" value="50" class="super-form-progress-bar" ></mat-progress-bar>
        </div>
        <div class="my-4 d-flex align-items-center justify-content-center">
            <h5 class="font-weight-bolder super-dialogue-content-title">Step 1. Copy and paste Startup Emails</h5>
        </div>

        <div class="card super-card" style="height: 125px;">
            <div class="d-flex align-items-center justify-content-center">
                <mat-chip *ngFor="let email of emails" class="super-chip blue m-2">
                    {{email}}

                    <div class="ml-2">
                        <i class="fa fa-times-circle pointer" aria-hidden="true" (click)="deleteEmail(email)"></i>
                    </div>

                </mat-chip>
                <input class="border-0 col-4" matNativeControl placeholder="email@domain.com" [(ngModel)]="newEmail" (keyup.enter)="createNewEmail(newEmail)" />
            </div>
        </div>

        <div layout="row" layout-align="center center" class="mt-3 super-form-nav-button-bar" >
            <button mat-button (click)="onNextClick()" class="super-dialogue-next-button super-button" >Next</button>
        </div>
    </div>

    <!-- Second Phase of Dialogue-->
    <div *ngIf="isStageTwo" mat-dialog-content class="super-dialogue-align" layout="row" layout-align="center center">
        <div class="d-flex flex-column w-100 h-50 align-items-center">
            <div class="mt-5">
                <img class="super-img-md" src="assets/imgs/congrats.png">
            </div>
            <div class="mt-4">
                <h1  class="super-dialogue-title"  layout="row" layout-align="center center">Startups have been invited!</h1>
            </div>
            <div class="mt-4">
                <button mat-flat-button class="super-button blue confirm" (click)="onExitClick()" >
                    Browse Startups
                </button>
            </div>
        </div>
    </div>

    <!-- Third Phase of Dialogue (Not yet in use, plan to add ability to add a custom )-->
    <div *ngIf="isStageThree" mat-dialog-content class="super-dialogue-align">
        
    </div>
</div>
  