

<div class="container" *ngIf="startup">

    <div class="row mt-3">
        <div class="col-3">
            <button mat-flat-button [routerLink]="['/admin']">
                <span class="material-icons">west</span>                    
                    Back
            </button>
        </div>
        <div class="col-6 text-center">
            <h1>{{startup.name ? startup.name : "New Startup"}}</h1>
        </div>
        <div class="col-3"></div>
    </div>

    
    <div class="form mt-3">
        <div class="row">
            <app-input-text-with-label class="col-6 col-md-4" label="Startup Name" [(ngModel)]="startup.name"></app-input-text-with-label>
            <app-input-text-with-label class="col-6 col-md-4" label="Location" [(ngModel)]="startup.location"></app-input-text-with-label>
            <app-input-text-with-label class="col-6 col-md-4" label="Website URL" [(ngModel)]="startup.websiteURL"></app-input-text-with-label>

            <app-input-text-with-label class="col-6 col-md-4" label="Year Founded" [(ngModel)]="startup.yearFounded"></app-input-text-with-label>

            <app-input-text-with-label class="col-6 col-md-4" label="Number of Employees" [(ngModel)]="startup.employeeCount"></app-input-text-with-label>
            <app-input-text-with-label class="col-6 col-md-4" label="Total Funding" [(ngModel)]="startup.funding"></app-input-text-with-label>
            <app-input-text-with-label class="col-6 col-md-4" label="Most Recent Funding Date" [(ngModel)]="startup.lastFunding"></app-input-text-with-label>
            <app-input-text-with-label class="col-6 col-md-4" label="Industry Score" [(ngModel)]="startup.industryScore"></app-input-text-with-label>
           
            <app-input-text-with-label class="col-12 col-md-12" label="Unit Pricing" [(ngModel)]="startup.pricing"></app-input-text-with-label>
            <app-input-text-with-label class="col-12 col-md-12" label="Founder Background" [(ngModel)]="startup.founderBackground"></app-input-text-with-label>
            <app-input-text-with-label class="col-12 col-md-12" label="Company Description" [(ngModel)]="startup.description"></app-input-text-with-label>
            <app-input-text-with-label class="col-12 col-md-12" label="Initial Diligence" [(ngModel)]="startup.initialDiligence"></app-input-text-with-label>

            <div class="col-12 row mt-3">
                <div class="col-12 text-center">
                    <h1>Multi-item Inputs</h1>
                    <p>(Press "enter" after each entry)</p>
                </div>
            </div>
            
            <multi-item-text-input class="col-12 col-md-6" label="Founders" [values]="startup.founders"></multi-item-text-input>
            <multi-item-text-input class="col-12 col-md-6" label="Notable Investors" [values]="startup.notableInvestors"></multi-item-text-input>
            <multi-item-text-input class="col-12 col-md-6" label="Industry Tags" [values]="startup.industryTags"></multi-item-text-input>

            <div class="col-12 row align-items-center mt-3">
                <div class="col-6 text-center">
                    <h1>Features</h1>
                </div>
                <div class="col-6 text-center">
                    <button mat-flat-button class="mr-2 super-button white" (click)="addNewFeature()" >
                        <span matPrefix> <i class="fa fa-plus text-muted"></i> &nbsp;</span>
                        Add Feature
                    </button>
                </div>
            </div>

            <mat-tab-group class="col-12 mt-3 tabGroup" *ngIf="startup.features.length > 0">
                <mat-tab  *ngFor="let feature of startup.features" label="{{feature.title}}"> 
                <br>
                    <div class="col-12 row">
                        <app-input-text-with-label class="col-6" label="Title" [(ngModel)]="feature.title"></app-input-text-with-label>
                        <app-input-text-with-label class="col-6" label="Description" [(ngModel)]="feature.description"></app-input-text-with-label>
                        <br>
                        <div class="col-6 text-right">
                            <button mat-flat-button (click)="deleteCurrentFeature(feature)">
                                <span class="material-icons">delete</span>                    
                                    Delete Feature
                            </button>
                        </div>
                    </div>
                        <br>
                </mat-tab>
                <br>
            </mat-tab-group>


            <div class="col-12 row align-items-center mt-3">
                <div class="col-6 text-center">
                    <h1>Patents</h1>
                </div>
                <div class="col-6 text-center">
                    <button mat-flat-button class="mr-2 super-button white" (click)="addNewPatent()">
                        <span matPrefix> <i class="fa fa-plus text-muted"></i> &nbsp;</span>
                        Add Patent
                    </button>
                </div>
            </div>

            <mat-tab-group class="col-12 mt-3 tabGroup" *ngIf="startup.patents.length > 0">
                <mat-tab  *ngFor="let patent of startup.patents" label="{{patent.title}}"> 
                <br>
                    <div class="col-12 row">
                        <app-input-text-with-label class="col-6" label="Title" [(ngModel)]="patent.title"></app-input-text-with-label>
                        <app-input-text-with-label class="col-6" label="Abstract" [(ngModel)]="patent.abstract"></app-input-text-with-label>
                        <app-input-text-with-label class="col-6" label="Patent Number" [(ngModel)]="patent.number"></app-input-text-with-label>
                        <app-input-text-with-label class="col-6" label="Type" [(ngModel)]="patent.type"></app-input-text-with-label>
                        <app-input-text-with-label class="col-6" label="Filed" [(ngModel)]="patent.filled"></app-input-text-with-label>
                        <app-input-text-with-label class="col-6" label="Publication Date" [(ngModel)]="patent.date"></app-input-text-with-label>
                        <br>
                        <div class="col-6 text-right">
                            <button mat-flat-button (click)="deleteCurrentPatent(patent)">
                                <span class="material-icons">delete</span>                    
                                    Delete Patent
                            </button>
                        </div>
                    </div>
                        <br>
                </mat-tab>

            </mat-tab-group>

            <div class="col-12 row mt-3">
                <div class="col-12 text-center">
                    <h1>Images</h1>
                    <p>(Make sure to "upload" each image)</p>
                </div>
            </div>
                <app-input-file-with-label class="col-6 col-md-6" label="One Pager Img" targetFolder="/pager/" [startUpID]="startup._id" [currentImgURL]="startup.pagerImgUrl" (update)="startup.pagerImgUrl=$event" ></app-input-file-with-label>
                <app-input-file-with-label class="col-6 col-md-6" label="Startup Img" targetFolder="/startup/" [startUpID]="startup._id" [currentImgURL]="startup.startupImgUrl" (update)="startup.startupImgUrl=$event" ></app-input-file-with-label>
                <app-input-file-with-label class="col-6 col-md-6" label="History Img" targetFolder="/history/" [startUpID]="startup._id" [currentImgURL]="startup.historyImgUrl" (update)="startup.historyImgUrl=$event" ></app-input-file-with-label>
                <app-input-multi-file-with-label class="col-6 col-md-6" label="Pitch Deck Imgs" targetFolder="/pitch-deck/" [startUpID]="startup._id" [currentImgURLs]="startup.pitchDeckImgUrls"></app-input-multi-file-with-label>
                <app-input-multi-file-with-label class="col-6 col-md-6" label="Customer Imgs" targetFolder="/customer/" [startUpID]="startup._id" [currentImgURLs]="startup.customerImgUrls"></app-input-multi-file-with-label>
        </div>

        <div class="col-12 text-right">
            <button mat-flat-button class="mr-2 super-button blue" (click)="saveCurrentStartup()">
                <span matPrefix> <i class="fa fa-save"></i> &nbsp;</span>
                Save
            </button>
        </div>
    </div>

</div>