.tabGroup{
    border-radius: 4px;
    border-color: rgba(124, 124, 124, 0.87);
    border-width: 1px;
    border-style: solid;
    padding: 0 .75em 0 .75em;
    margin-top: -0.25em;
    position: relative;
}