


<div class="row align-items-center">
  
    <div class="col">
      <h1 class="font-weight-bold super-label-xl">My Dashboard</h1>
    </div>

    <div class="row col-8 text-right">
      <div class="col text-right">
          <button mat-flat-button class="mr-2 super-button white" (click)="openInviteDialog()">
              <span matPrefix> <i class="fa fa-user-plus text-muted"></i> &nbsp;</span>
              Invite Startup
          </button>
          
          <button mat-flat-button class="super-button blue" (click)="openSessionDialog()">
              <i class="fa fa-video" aria-hidden="true"></i>
              &nbsp;
              Virtual Session
          </button>
      </div>
    </div>

  </div>

  <!-- search bar and buttons -->
  <div class="mt-4 row">
    <div class="col-6">
      <app-search-bar class="w-100"></app-search-bar>
    </div>
    
    <div class="col-6 text-right">
      <button mat-button class="align-items-center ml-2 super-button clear" (click)="sortByIndustryScore()">
        Industry Score
        <span class="material-icons m-0"> {{industryScoreSort.icon}} </span>
      </button>
      <button mat-button class="align-items-center ml-2 super-button clear" (click)="sortByEmployeeCount()">
        Employee Count
        <span class="material-icons m-0"> {{employeeCountSort.icon}} </span>
      </button>
      <button mat-button class="align-items-center ml-2 super-button clear" (click)="sortByFunding()">
        Funding
        <span class="material-icons m-0"> {{fundingSort.icon}} </span>
      </button>

      <!-- <button mat-flat-button class="super-button align-items-center ml-3" 
        [mdePopoverTriggerFor]="appPopover"
        mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger">
        Sort By
        <i class="fa super-chevron fa-chevron-down" aria-hidden="true"></i>
      </button> -->

      <!-- <mde-popover #appPopover="mdePopover" [mdePopoverOverlapTrigger]="false">
        <div class="super-popover-content">
          <mat-list class="super-list scale-to-fit">
            <mat-list-item class="align-items-center mt-0 p-2 pointer">
              <span class="align-items-center super-text-dark" (click)="sortByIndustryScore()"> Industry Score</span>
            </mat-list-item>
            <mat-list-item class="align-items-center mt-0 p-2 pointer">
              <span class="align-items-center super-text-dark" (click)="sortByEmployeeCount('ascending')"> Employee Count </span>
            </mat-list-item>
            <mat-list-item class="align-items-center mt-0 p-2 pointer">
              <span class="align-items-center super-text-dark" (click)="sortByFunding('ascending')"> Funding </span>
            </mat-list-item>
            <mat-list-item class="align-items-center mt-0 p-2 pointer">
              <span class="align-items-center super-text-dark" (click)="sortByFunding('ascending')"> None </span>
            </mat-list-item>
          </mat-list>
        </div>
      </mde-popover> -->

    </div>

  </div>
  
  <div class="mt-4 row" style="min-width: 843px;">
  
    <!-- Card -->
    <div class="col-sm-6 col-lg-4 col-xl-4 mb-4" *ngFor="let card of cards" name="StartupCard">
      <div class="super-card z-depth-1 h-100" >
        <div class="pb-0 d-flex align-items-center">
          <div class="flex-grow-1 text-right">
            <button mat-button class="super-button new"> NEW </button>
          </div>
          <div class="text-right">

            <button mat-icon-button color="primary"
              [mdePopoverTriggerFor]="appPopover"
              mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger">
              <mat-icon >more_vert</mat-icon>
            </button>
          
            <mde-popover #appPopover="mdePopover" [mdePopoverOverlapTrigger]="false">
              <div class="super-popover-content">
                <mat-list class="scale-to-fit">
                  <mat-list-item class="align-items-center mt-0 pointer">
                    <!-- TODO: clean up classes a bit -->
                    <span class="material-icons super-text-dark">
                      playlist_add
                      </span>
                    <span class="align-items-center super-text-dark text-sm" (click)="openListDialogue(card.startupId)">add/remove from list </span>
                  </mat-list-item>
                  <!-- <mat-list-item class="pointer">
                    <span class="material-icons">
                      library_add
                      </span>
                    <span class="align-items-center" (click)="openListDialogue()">add to new list </span>                  
                  </mat-list-item> -->
                </mat-list>
              </div>
            </mde-popover>
    
          </div>
        </div>
    
        <div>
    
          <div class="super-startup-img-container">
            <img class="super-startup-img" [src]="card.startupImgUrl" alt="Card image cap">
          </div>
        
          <h2 class="mt-4" [routerLink]="['/startup/' + card.startupId]" routerLinkActive="router-link-active" >{{card.name}}</h2>

          <div class="mt-4">
            <p class="text-muted">{{card.description}}</p>
          </div>

          <!-- industry score -->
          <div class="mt-4">
            <h5 class="font-weight-bold">Industry Score: {{card.industryScore}}%</h5>
          </div>
          <!-- tags -->
          <div class="mt-4">
            <mat-chip-list  aria-label="tags">
              <div *ngFor="let tag of card.industryTags; let i = index">
                <mat-chip *ngIf="i < 3" class="super-chip">{{tag}}</mat-chip>
                  <!-- <a *ngIf="i == 3" class="text-muted" [routerLink]="['/startup/' + card.startupId]" >
                    <span class="material-icons">
                      more_horiz
                    </span>
                  </a> -->
              </div>
            </mat-chip-list>
          </div>

        </div>
        
      </div>
  
    </div>
  
  </div>