
<div class="row">

    <mat-form-field class="col-8 super-searchbar">
      <mat-label>Search Startup</mat-label>
      <span matPrefix> <i class="fa fa-search text-muted"></i> &nbsp;</span>
      <input matInput class="super-search" type="text" [(ngModel)]="searchQuery" name="txtSearchBar" (keyup)="search(searchQuery)">
      
      <button mat-button *ngIf="searchQuery" matSuffix mat-icon-button aria-label="Clear" (click)="searchQuery=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>  

</div>

