<section class="row align-items-center">
    <div class="col-12" style="padding-bottom: 30px;">
        <h1 class="font-weight-bold super-label-xl">Add New Startup:</h1>
    </div>
    <div class="col-12 main-startup-form">
            <app-input-text-with-label label="Startup Name" [(ngModel)]="name"></app-input-text-with-label>
            <app-input-text-area-with-label label="Company Description" [(ngModel)]="name"></app-input-text-area-with-label>
            <app-input-text-with-label label="Name" [(ngModel)]="name"></app-input-text-with-label>
            <app-input-text-with-label label="Name" [(ngModel)]="name"></app-input-text-with-label>
            <app-input-text-with-label label="Name" [(ngModel)]="name"></app-input-text-with-label>
            <app-input-text-with-label label="Name" [(ngModel)]="name"></app-input-text-with-label>
            <app-input-text-with-label label="Name" [(ngModel)]="name"></app-input-text-with-label>
            <app-input-text-with-label label="Name" [(ngModel)]="name"></app-input-text-with-label>
    </div>
</section>