/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

@font-face {
    font-family: poppins;
    src: url(assets/fonts/Poppins/Poppins-Regular.ttf) format("truetype");
  }

body { 
    margin: 0; 
    background-color: white !important;
    font-family: poppins !important;
}

.poppins{
    font-family: poppins !important;
}

.bottom {
    position: absolute !important;
    bottom: 0 !important;
    left: 0 !important;
}

h1, h2, h3, h4, h5 {
    font-family: poppins !important; 
    margin: 0px !important;
}

.mat-body, .mat-body-1, .mat-typography{
    font-family: poppins !important; 
}

.material-icons {
    font-family: 'Material Icons' !important;
}

.mat-drawer-content {
    background-color: white !important;
}

.router-link-active {
    color: black !important;
}

.super-border-radius{
    border-radius: 13px;
}

.super-startup-dialogue-list-cell{
    background: white !important;
    padding: 10px;
    font-size: 105%;
    margin: 2px;
    border-radius: 13px;
}

.super-list-dialogue{
    max-height: 300px;
    outline: 2px solid rgb(236, 240, 243) !important;
    border-radius: 13px !important;
}

.super-text-area-box{
    width: 400px !important;
    border: 2px solid rgb(236, 240, 243) !important;
    font-size: medium !important;
    border-radius: 4px;
    /*padding: 7px;
    padding-top: 30px !important;*/
}

.super-form-progress-bar{
    background-color: #009AFF !important;
    height: 3px !important;
    width: 55% !important;
}

.super-form-nav-button-bar{
    width: 100%;
    padding-top: 30px;
}

.super-dialogue{
    align-items: center !important;
    align-content: center;
    overflow: hidden;
    padding:20px !important;
}

.super-dialogue-align{
    align-content: center!important;
    text-align: center!important;
}
.super-dialogue-button{
    font-size: 120% !important;
    font-style: bold;
}

.super-dialogue-content-title{
    font-weight: bolder !important;
    font-size: large !important;
    font-family: poppins !important;
    text-align: center !important;
}

.super-dialogue-next-button{
    font-weight: bold !important;
    font-size: large !important;
    font-family: poppins !important;
    color: rgb(16, 132, 253) !important;
    background-color: white !important;
    border-color: rgb(16, 132, 253) !important;
    border-width: 1px !important;
    border-style: solid !important;
    margin: 20px !important;
}

.super-button {
    align-items: center !important;
    background: #EFF3F6 !important;
    padding: 9px !important;
    border-radius: 15px !important;
    min-height: 63px;
    min-width: 172px !important;
    font-size: 90% !important;
    font-weight: bolder !important;
    font-family: poppins !important;
}

.super-button.new {
    color: #FB3A22 !important;
    background: #FFF2F1 !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    border-radius: 11px !important;
    min-height: 0px !important;
    min-width: 0px !important;
    font-size: 90% !important;
    line-height: 30px !important;
}

.super-button.sm{
    padding: 5px !important;
    border-radius: 7.5px !important;
    min-height: 33px;
    min-width: 90px !important;
    font-weight: bolder !important;
}

.super-button .material-icons{
    font-size: 135% !important;
    //margin: 20px !important;
}

.super-button.clear{
    min-width: 0px !important;
    background: transparent !important;
}

.super-button.white{
    background: white !important;
    border: 2px solid rgb(213, 217, 219) !important;
}

.super-button.blue{
    background: #009AFF !important;
    color: white !important;
}

.super-button.success{
    background: #5cb85c !important;
    color: white !important;
}

.super-button.danger{
    background: #d9534f !important;
    color: white !important;
}

.super-button.primary{
    background: #0275d8 !important;
    color: white !important;
}

.super-button.info{
    background: #5bc0de !important;
    color: white !important;
}

.super-button.warning{
    background: #f0ad4e !important;
    color: white !important;
}

.super-button.inverse{
    background: #292b2c !important;
    color: white !important;
}

.super-button.disabled{
    background: #EFF3F6 !important;
    color: lightgray !important;
}

.super-button.blue.confirm{
    width: 66% !important;
    background: #009AFF !important;
    color: white !important;
}

.super-list-header{
    background-color: rgb(234, 240, 244);
}


.super-investor-card {
    position: relative;
    min-height: 125px;
    min-width: 140px; 
    text-align: center;  
    align-items: center; 
}

.super-investor-img {
    max-width: 120px;
    max-height: 79.2px;
}

.super-customer-img {
    max-width: 81px;
}

.super-startup-img{
    max-width: 75px;
}

.super-startup-img-container{
    width: 67.5px;
    height: 67.5px;
}

.super-startup-img-sm{
    max-height: 41.5px;
    max-width: 41.5px;
    border-radius: 50%;
}

.super-startup-img-md{
    max-height: 75px;
    max-width: 75px;
}

.super-chathead-img{
    max-height: 41.5px;
    max-width: 41.5px;
}

.super-img-md{
    height: 67.5px;
    width: 67.5;
}

.super-img-lg{
    height: 135px;
    width: 135px;
}

.super-img-xs{
    max-height: 29.7px;
    max-width: 29.7px;
}

.super-startup-banner{
    max-width: 100%;
    border-radius: 15px;
}

.super-list-head-img{
    width: 100% !important;
    height: 175px;

    border-radius: 15px !important;
}

.super-list-head-img.default{
    background-color: #EFF3F6;
}

.super-list-head-labels{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 90px !important;
}

mat-drawer{
    width: 275px;
    padding: 20px;
}

.super-label-xl{
    font-size: 270% !important;
}

.super-list{
    border-radius: 15px;
}

.super-list.card{
    border: solid 1.25px rgb(188, 204, 215) !important;
    height:100%;   
}

.super-list .card-header{
    border-radius: 13px !important;
}

.super-list.scale-to-fit{
    height: fit-content !important;
}

.mat-list-item{
    font-family: poppins !important;
}

.mat-list-item-content{
    padding: 0px !important;
}

.super-list mat-list-item{
    margin-top: 11.7px;
    height: fit-content !important;
}

mat-list-item strong {
    margin-right: 2.7px !important;
}

.super-list mat-list-item span{
    color: rgb(108, 117, 125) !important;
}

.super-list mat-list-item a{
    margin-left: 2.7px;
}

.super-list mat-list-item mat-icon.super-icon-star{
    cursor: pointer;
    font-size: 150%;
}

.super-mini-fab {
    box-shadow: 0px 0px 0px !important;
    background-color: transparent;
    border: 2px solid rgb(236, 240, 243) !important;
}

.super-mini-fab-transparent {
    box-shadow: 0px 0px 0px !important;
    background-color: transparent !important;
}

.super-border{
    border-radius: 15px;
    padding: 18px;
    border: solid 1.25px rgb(188, 204, 215) !important;
}

.super-card{
    border-radius: 15px;
    font-size: 92.5%;
    padding: 13.5px;
    border: solid 1.25px rgb(188, 204, 215) !important;
}

.super-card.news{
    padding: 13.5px;
    height: 262px;
}

.super-card.feature{
    padding:.5rem !important;
}

.super-card-patent{
    padding: 5rem !important;
}

.super-dialogue-box{
    height: 900px;
}

.super-card-list{
    border-radius: 15px;
    font-size: 92.5%;
    border: solid 1.25px rgb(188, 204, 215) !important;
    padding-left: 18px !important;
    padding-right: 9px !important;
}

.super-column-header{
    margin-bottom: 9px;
}

.super-column-header .card-body {
    padding: 9px;
}

.super-column{
    width: 225px;
    height: 100%;
    margin-right: 9px;
}

/* Animate items as they're being sorted. */
.cdk-drop-list-dragging .cdk-drag {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* Animate an item that has been dropped. */
.cdk-drag-animating {
    transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}

.pointer {cursor: pointer;}

h1.pointer:hover, h2.pointer:hover, h3.pointer:hover, h4.pointer:hover,  a.pointer:hover,  div.pointer:hover {
    text-decoration: underline;
}

/** remove focus **/
button:focus, mat-list-item {
    outline: 0px solid transparent;
}

.ellipsis { 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis !important; 
}

mat-chip {
    font-size: 59.4% !important;
    text-align: center !important;
}

.super-popover-content {
    background-color: white;
    border-radius: 13px;
    border: 1.8px solid rgb(236, 240, 243) !important;
    padding: 11.7px;
}

.super-popover-content-filter {
    background-color: white;
    border-radius: 13px;
    border: 2px solid rgb(236, 240, 243) !important;
    padding: 13px;
    width: 270px;
    height: 180px;
}

/** angular material override **/
.mat-list-base {
    padding-top: 0px !important;
}

.super-badge {
    border-radius: 100%;
    padding: 10px;
    color: white;
    background: red;
    align-items: center;
    position: relative;
    font-size: 90%;
}

.super-badge span{
    position: absolute;
    margin: auto;
    top: 1px;
    left: 6.5px;
}

mat-chip {
    padding: 5px !important;
    border-radius: 11px !important;
    background-color: #ABBFCE !important;
    color: white !important;
    font-size: 90% !important;
}

p {
    color: rgb(108, 117, 125) !important;
}

mat-dialog-container { 
    border-radius: 11.7px !important;
}

.super-calendar{
    background-color: #ABBFCE !important;

    background: #EFF3F6 !important;
    border-radius: 11.7px !important;
}

/** tbd **/

.mat-h1, .mat-headline, .mat-typography h1 {
    font-family: poppins !important;
    letter-spacing: normal;
    margin: 0 0 14.4px;
}

.mat-form-field-infix {
    font-family:poppins, "Helvetica Neue" !important;
    letter-spacing: normal !important;
    margin: 0 0 14.4px;
}

.super-chip {
    font-size: 82.5% !important;
}

.super-chip.blue {
    background: #009AFF !important;
    color: white !important;
}

.super-chip.white {
    background: white !important;
    border-radius: 13px !important;
    border: 1px solid #707070 !important;
    color: #707070 !important;
}

.startup-selected {
    background-color: blue !important;
}

.cursor-pointer{
    cursor: pointer;
}

.super-text-dark{
    color: rgba(0,0,0,.87) !important;
}

.no-wrap{
    white-space: nowrap;
}