
$off-white : rgb(248, 250, 253);
$off-white-shadow : rgb(244, 248, 251);
$blue-primary: rgb(64, 155, 247);
$blue-secondary: rgb(236, 247, 254);
$blue-tertiary:rgb(101, 185, 250);
$gray-primary: rgb(68, 78, 95);
$gray-secondary: rgb(157, 165, 181);
$gray-tertiary: rgb(108, 117, 125);

html, body { height: 100%; }

@font-face {
    font-family: poppins;
    src: url(assets/fonts/Poppins/Poppins-Regular.ttf) format("truetype");
  }

body { 
    margin: 0; 
    background-color: $off-white !important;
    font-family: poppins !important;
}

.poppins{
    font-family: poppins !important;
}

mat-drawer-container{
    background-color: $off-white !important;
}

mat-drawer{
    background-color: $off-white !important;
    width: 275px;
    padding: 20px;
}

.bottom {
    position: absolute !important;
    bottom: 0 !important;
    left: 0 !important;
}

h1, h2, h3, h4, h5 {
    font-family: poppins !important; 
    margin: 0px !important;
}

.mat-body, .mat-body-1, .mat-typography{
    font-family: poppins !important; 
}

.material-icons {
    font-family: 'Material Icons' !important;
}

.router-link-active {
    color: black !important;
}

.super-border-radius{
    border-radius: 13px;
}

.super-startup-dialogue-list-cell{
    background: white !important;
    padding: 10px;
    font-size: 105%;
    margin: 2px;
}

.super-form-progress-bar{
    background-color: #009AFF !important;
    height: 3px !important;
    width: 55% !important;
}

.super-form-nav-button-bar{
    width: 100%;
    padding-top: 30px;
}

.super-dialogue{
    align-items: center !important;
    align-content: center;
    overflow: hidden;
    padding:20px !important;
}

.super-dialogue-align{
    align-content: center!important;
    text-align: center!important;
}
.super-dialogue-button{
    font-size: 120% !important;
    font-style: bold;
}

.super-dialogue-content-title{
    font-weight: bolder !important;
    font-size: large !important;
    font-family: poppins !important;
    text-align: center !important;
}

.super-dialogue-next-button{
    font-weight: bold !important;
    font-size: large !important;
    font-family: poppins !important;
    color: rgb(16, 132, 253) !important;
    background-color: white !important;
    border-color: rgb(16, 132, 253) !important;
    border-width: 1px !important;
    border-style: solid !important;
    margin: 20px !important;
}

.super-button {
    align-items: center;
    background: #EFF3F6;
    padding: 9px !important;
    border-radius: 15px !important;
    min-height: 63px;
    min-width: 172px !important;
    font-size: 90% !important;
    font-weight: bolder;
    font-family: poppins;

    .material-icons{
        font-size: 135% !important;
    }
}

.super-button.new {
    color: #FB3A22 !important;
    background: #FFF2F1 !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    border-radius: 11px !important;
    min-height: 0px !important;
    min-width: 0px !important;
    font-size: 90% !important;
    line-height: 30px !important;
}

.super-button.sm{
    padding: 5px !important;
    border-radius: 7.5px !important;
    min-height: 33px;
    min-width: 90px !important;
}

.super-button.clear{
    min-width: 0px !important;
    background: transparent !important;
    color: $blue-primary !important;

    .material-icons{
        color: $gray-secondary !important;
    }
}

.super-button.white{
    background: white !important;
    border: 2px solid rgb(213, 217, 219) !important;
}

.super-button.blue{
    background: #009AFF !important;
    color: white !important;
}

.super-button.success{
    background: #5cb85c !important;
    color: white !important;
}

.super-button.danger{
    background: #d9534f !important;
    color: white !important;
}

.super-button.primary{
    background: #0275d8 !important;
    color: white !important;
}

.super-button.info{
    background: #5bc0de !important;
    color: white !important;
}

.super-button.warning{
    background: #f0ad4e !important;
    color: white !important;
}

.super-button.inverse{
    background: #292b2c !important;
    color: white !important;
}

.super-button.disabled{
    background: #EFF3F6 !important;
    color: lightgray !important;
}

.super-button.blue.confirm{
    width: 66% !important;
    background: #009AFF !important;
    color: white !important;
}

.super-button.download{
    color: $blue-primary;
    background-color: $blue-secondary;
}

.super-investor-card {
    position: relative;
    min-height: 125px;
    min-width: 140px; 
    text-align: center;  
    align-items: center; 
}

.super-investor-img {
    max-width: 120px;
    max-height: 79.2px;
}

.super-customer-img {
    max-width: 81px;
}

.super-startup-img{
    max-width: 75px;
}

.super-startup-img-container{
    width: 67.5px;
    height: 67.5px;
    display: flex;
    align-items: center;
}

.super-startup-img-sm{
    max-height: 41.5px;
    max-width: 41.5px;
    border-radius: 50%;
}

.super-startup-img-md{
    max-height: 90px;
    max-width: 125px;
}

.super-startup-img-lg{
    max-height: 90px;
    max-width: 150px;
}

.super-chathead-img{
    max-height: 41.5px;
    max-width: 41.5px;
}

.super-img-md{
    height: 67.5px;
    width: 67.5;
}

.super-img-lg{
    height: 135px;
    width: 135px;
}

.super-img-xs{
    max-height: 29.7px;
    max-width: 29.7px;
}

.super-label-xl{
    font-size: 270% !important;
    color: $gray-primary;

}

.super-list{
    border-radius: 15px;
    border: none !important;
    box-shadow: 1.5px 1.5px 1.5px 1.5px $off-white-shadow;
    background-color: white !important;

    .header {
        height: 175px;

        img{
            width: 100%;
            height: 100%;
            border-radius: 15px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            filter: brightness(40%) !important;
        }

        .title{
            position: absolute;
            top: 33%;
            font-family: poppins;
            width: 100%;
            color: white !important;
        }
    }

    .body{
        padding: 30px !important;

        h1, h2, h3, h4, h5 {
            color: $gray-primary;
        }

        p{
            font-size: 92.5% !important;
            color: $gray-tertiary;
        }
    }

    mat-chip{
        color: white !important;
        background-color: $blue-tertiary !important;
    }
}

.super-list.card{
    border: solid 1.25px rgb(188, 204, 215) !important;
    height:100%;   
}

.super-list .card-header{
    border-radius: 13px !important;
}

.super-list.scale-to-fit{
    height: fit-content !important;
}

.mat-list-item{
    font-family: poppins !important;
}

.mat-list-item-content{
    padding: 0px !important;
}

.super-list mat-list-item{
    margin-top: 11.7px;
    height: fit-content !important;
}

mat-list-item strong {
    margin-right: 2.7px !important;
}

.super-list mat-list-item span{
    color: rgb(108, 117, 125) !important;
}

.super-list mat-list-item a{
    margin-left: 2.7px;
}

.super-list mat-list-item mat-icon.super-icon-star{
    cursor: pointer;
    font-size: 150%;
}

.super-mini-fab {
    box-shadow: 0px 0px 0px !important;
    background-color: transparent;
    border: 2px solid rgb(236, 240, 243) !important;
}

.super-mini-fab-transparent {
    box-shadow: 0px 0px 0px !important;
    background-color: transparent !important;
}

.super-border{
    border-radius: 15px;
    padding: 18px;
    border: solid 1.25px rgb(188, 204, 215) !important;
}

.super-container{
    .super-row{
        margin-bottom: 2em;
    }
}

.super-card{
    border-radius: 15px;
    font-size: 92.5%;
    padding: 30px !important;
    border: none !important;
    box-shadow: 1.5px 1.5px 1.5px 1.5px $off-white-shadow;
    background-color: white !important;

    h1, h2, h3, h4, h5 {
        font-weight: bold !important;
        color: $gray-primary !important;
    }
    h1{
        font-size: 250% !important;
    }
    h2{
        font-size: 175% !important;
    }
    p{
        color: $gray-tertiary;
    }
    .img-container{
        max-width: 100%;
        border-radius: 15px;
        max-height: 453px;
        overflow: hidden;        
    }
    mat-chip{
        color: white !important;
        background-color: $blue-tertiary !important;
    }
}

.super-startup-card{
    border-radius: 15px;
    font-size: 92.5%;
    padding: 30px !important;
    border: none !important;
    box-shadow: 1.5px 1.5px 1.5px 1.5px $off-white-shadow;
    background-color: white !important;

    h1, h2, h3, h4, h5 {
        font-weight: bold !important;
        color: $gray-primary !important;
        white-space: nowrap;
        overflow: hidden;    
        text-overflow: ellipsis;
    }
    h1:hover, h2:hover, h3:hover, h4:hover, h5:hover{
        cursor: pointer;    
        text-decoration: underline;
    }
    h1{
        font-size: 250% !important;
    }
    h2{
        font-size: 175% !important;
    }
    p{
        color: $gray-tertiary;
        height: 80px;
    }
    .img-container{
        max-width: 100%;
        border-radius: 15px;
        max-height: 453px;
        overflow: hidden;        
    }
    mat-chip{
        color: white !important;
        background-color: $blue-tertiary !important;
    }
}

.super-card.news{
    padding: 13.5px;
    height: 262px;
}

.super-card.feature{
    padding:1rem !important;
}

.super-card-patent{
    padding: 5rem !important;
}

.super-dialogue-box{
    height: 900px;
}

.super-card-list{
    border-radius: 15px;
    font-size: 92.5%;
    border: solid 1.25px rgb(188, 204, 215) !important;
    padding-left: 18px !important;
    padding-right: 9px !important;
}

/* Animate items as they're being sorted. */
.cdk-drop-list-dragging .cdk-drag {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* Animate an item that has been dropped. */
.cdk-drag-animating {
    transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}

.pointer {cursor: pointer;}

h1.pointer:hover, h2.pointer:hover, h3.pointer:hover, h4.pointer:hover,  a.pointer:hover,  div.pointer:hover {
    text-decoration: underline;
}

/** remove focus **/
button:focus, mat-list-item {
    outline: 0px solid transparent;
}

.ellipsis { 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis !important; 
}

mat-chip {
    font-size: 59.4% !important;
    text-align: center !important;
}

.super-popover-content {
    background-color: white;
    border-radius: 13px;
    border: 1.8px solid rgb(236, 240, 243) !important;
    padding: 11.7px;
}

.super-popover-content-filter {
    background-color: white;
    border-radius: 13px;
    border: 2px solid rgb(236, 240, 243) !important;
    padding: 13px;
    width: 270px;
    height: 180px;
}

/** angular material override **/
.mat-list-base {
    padding-top: 0px !important;
}

.super-badge {
    border-radius: 100%;
    padding: 10px;
    color: white;
    background: red;
    align-items: center;
    position: relative;
    font-size: 90%;
}

.super-badge span{
    position: absolute;
    margin: auto;
    top: 1px;
    left: 6.5px;
}

mat-chip {
    padding: 5px !important;
    border-radius: 11px !important;
    background-color: #ABBFCE !important;
    color: white !important;
    font-size: 90% !important;
}

mat-dialog-container { 
    border-radius: 11.7px !important;
}

.super-calendar{
    background-color: #ABBFCE !important;

    background: #EFF3F6 !important;
    border-radius: 11.7px !important;
}

/** tbd **/

.mat-h1, .mat-headline, .mat-typography h1 {
    font-family: poppins !important;
    letter-spacing: normal;
    margin: 0 0 14.4px;
}

.mat-form-field-infix {
    font-family:poppins, "Helvetica Neue" !important;
    letter-spacing: normal !important;
    margin: 0 0 14.4px;
}

.super-chip {
    font-size: 82.5% !important;
}

.super-chip.blue {
    background: #009AFF !important;
    color: white !important;
}

.super-chip.white {
    background: white !important;
    border-radius: 13px !important;
    border: 1px solid #707070 !important;
    color: #707070 !important;
}

.startup-selected {
    background-color: blue !important;
}

.cursor-pointer{
    cursor: pointer;
}

.super-text-dark{
    color: rgba(0,0,0,.87) !important;
}

.no-wrap{
    white-space: nowrap;
}

.text-sm{
    font-size: 75% !important;
}

//TBD

.mat-chip-list-wrapper{
    flex-wrap: nowrap !important;
    white-space: nowrap !important;
    overflow: hidden !important;
}

//override
.mat-form-field-underline{
    background-color: transparent !important;
}
.mat-form-field-appearance-legacy .mat-form-field-underline {
    height: 0px !important;
}
::ng-deep .mat-input-underline {
    display: none;
}
.mat-form-field-wrapper {
    padding-bottom: 0px !important;
}

.super-searchbar{
    background-color: white;
    border-radius: 15px;
    align-items: center;
    display: flex;
}

.text-super-blue{
    color: $blue-primary
}