

<section class="row align-items-center">

    <div class="col text-right">

        <button mat-button class="align-items-center ml-2 super-button clear" (click)="openListDialogue(startup._id)">
            <span class="material-icons m-0"> playlist_add </span>
            add/remove from list
        </button>
        <!-- <button mat-button class="align-items-center ml-2 super-button clear">
            <span class="material-icons"> library_add </span>
            Add to new list
        </button> -->
        <!-- <button mat-button class="align-items-center ml-2 super-button clear">
            <span class="material-icons"> share </span>

            Share
        </button> -->
    </div>
</section>

<div class="mt-4 super-container" *ngIf="startup">
    
    <div class="row super-row">

        <div class="col-8">

            <!-- Startup Main-->
            <div class="super-card" style="margin-bottom: 2em;">
                        
                <h1>{{startup?.name}}</h1>
                
                <p class="mt-3">{{startup.description}}</p>
    
                <!-- Banner img... video evenutally? -->
                <div class="mt-3 img-container" *ngIf="startup.videoUrl && startup.videoUrl != ''" >
                    <img style="max-width:100%" [src]="startup.videoUrl" alt="Card image cap">
                </div>
    
                <!-- tags -->
                <div class="mt-3" *ngIf="startup.industryTags && startup.industryTags.length > 1">
                    <mat-chip-list aria-label="tags">
                        <mat-chip *ngFor="let tag of startup.industryTags" class="super-chip">{{tag}}</mat-chip>
                    </mat-chip-list>
                </div>
    
                <!-- file downloads -->
                <div class="mt-3 d-flex">
                    <div *ngIf="pitchDeckImgUrl">
                        <a target="_blank" [href]="pitchDeckImgUrl" download>
                            <button mat-button class="align-items-center super-button download">
                                <span class="material-icons m-0"> download </span>
                                pitch deck
                            </button>
                        </a>
                    </div>
                    <div *ngIf="startup.pagerImgUrl && startup.pagerImgUrl != ''">
                        <a target="_blank" [href]="startup.pagerImgUrl" download>
                            <button mat-button class="align-items-center ml-2 super-button download">
                                <span class="material-icons m-0"> download </span>
                                one-pager
                            </button>
                        </a>
                    </div>
    
                </div>
            </div>

            <!-- Pricing -->
            <div class="super-card" *ngIf="startup.pricing && startup.pricing != ''">
                <h1>Unit Pricing</h1>
                <p class="mt-3">{{startup.pricing}}</p>
            </div>

        </div>
    
        <div class="col-4">

            <!-- Startup Detail Card -->
            <div class="super-card h-100">
                
                <div class="row">
                    <div class="col">
                        <img class="super-startup-img-md" [src]="startup.startupImgUrl" alt="Card image cap">
                    </div>
                    <div class="col text-right">
                        <button mat-button class="ml-1 super-button new">NEW</button>
                    </div>
                </div>
        
                <div class="w-100 d-flex flex-column">

                    <mat-list role="list" class="super-list border-none p-0 mt-4" style="box-shadow: none;">
                        
                        <mat-list-item role="listitem" *ngIf="startup.founders && startup.founders.length > 0">
                            <div class="row">
                                <strong class="col-12">Founder(s):</strong>
                                <div class="col">
                                    <span *ngFor="let founder of startup.founders; let i = index">{{ i+1 == startup.founders.length ? founder: founder + ", "}} </span>
                                </div>
                            </div>
                        </mat-list-item>
        
                        <mat-divider class="my-2"></mat-divider>
        
                        <mat-list-item role="listitem">
                            <div class="row">
                                <strong class="col-12">Location:</strong>
                                <div class="col-auto">
                                    <span>{{startup.location}}</span>
                                </div>
                            </div>
                        </mat-list-item>
        
                        <mat-list-item role="listitem">
                            <div class="row">
                                <strong class="col-12">Website:</strong>
                                <div class="col-auto">
                                    <a [href]="startup.websiteURL">{{startup.websiteURL}}</a>
                                </div>
                            </div>
                        </mat-list-item>
        
                        <mat-list-item role="listitem">
                            <div class="row">
                                <strong class="col-12">Employees:</strong>
                                <div class="col-auto">
                                    <span>{{startup.employeeCount}}</span>
                                </div>
                            </div>
                        </mat-list-item>
        
                        <mat-list-item role="listitem">
                            <div class="row">
                                <strong class="col-12">Total Funding:</strong>
                                <div class="col-auto">
                                    <span>{{startup.funding}}</span>
                                </div>
                            </div>
                        </mat-list-item>
        
                        <mat-list-item role="listitem">
                            <div class="row">
                                <strong class="col-12">Last Funding Round:</strong>
                                <div class="col-auto">
                                    <span>{{startup.lastFunding}}</span>
                                </div>
                            </div>
                        </mat-list-item>
        
                        <mat-list-item role="listitem">
                            <div class="row">
                                <strong class="col-12">Year Founded:</strong>
                                <div class="col-auto">
                                    <span>{{startup.yearFounded}}</span>
                                </div>
                            </div>
                        </mat-list-item>
        
                        <mat-list-item role="listitem">
                            <div class="row">
                                <strong class="col-12">Notable Investors:</strong>
                                <div class="col-auto">
                                    <span *ngFor="let investor of startup.notableInvestors; let i = index">{{ i+1 == startup.notableInvestors.length ? investor: investor + ", "}} </span>
                                </div>
                            </div>
                        </mat-list-item>
                    </mat-list>

                    <div class="w-100 d-flex align-items-center justify-content-center text-center" style="margin-top: 50%;">
                        <button mat-flat-button class="super-button blue w-50" (click)="requestUpdate()">
                            Request Introduction
                        </button>
                    </div>

                </div>
    
            </div>
        </div>

    </div>

    <div class="row super-row">
        <!-- founder info -->
        <div class="col-8" *ngIf="startup.founderBackground && startup.founderBackground != ''">
            <div class="super-card h-100">
                <h1>Founder Background</h1>
                <p class="mt-3">{{startup.founderBackground}}</p>
            </div>
        </div>

        <!-- diligence -->
        <div class="col-4"  *ngIf="startup.initialDiligence && startup.initialDiligence != ''">
            <div class="super-card">
                <h1>Initial Diligence</h1>
                <p class="mt-3">{{startup.initialDiligence}}</p>
            </div>
        </div>
    </div>

    <div class="row super-row">
        <!-- Company History -->
        <div class="col-8" *ngIf="startup.historyImgUrl && startup.historyImgUrl != ''">
            <div class="super-card">
                <h1 class="font-weight-bold">Company History</h1>
                <div class="mt-2 img-container">
                    <img style="width: 100%;" [src]="startup.historyImgUrl" alt="Card image cap">
                </div>
            </div>
        </div>

        <!-- Patents -->
        <div class="col-4" *ngIf="startup.patents && startup.patents.length > 0">
            <div *ngFor="let patent of startup.patents; let i = index">
                <div class="super-card"  *ngIf="patentIndex == i">
                    <h1 class="font-weight-bold">Patents</h1>
                    <div class="row mt-3">
                        <!-- TODO: create class for "patent card" -->
                        <div class="col-12 pr-0" >
                            <div class="patent">
                                <strong class="font-weight-bold">Title</strong>
                                <div class="mt-1 mb-0">
                                    <p>{{patent.title}}</p>
                                </div>
                                <strong class="font-weight-bold">Abstract</strong>
                                <div class="mt-1 mb-0">
                                    <p>{{patent.abstract}}</p>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <strong class="font-weight-bold">Number</strong>
                                        <div class="mt-1 mb-0">
                                            <p>{{patent.number}}</p>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <strong class="font-weight-bold">Type</strong>
                                        <div class="mt-1 mb-0">
                                            <p>{{patent.type}}</p>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <strong class="font-weight-bold">Date Filed</strong>
                                        <div class="mt-1 mb-0">
                                            <p>{{patent.filled}}</p>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <strong class="font-weight-bold">Date Published</strong>
                                        <div class="mt-1 mb-0">
                                            <p>{{patent.date}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="w-100 row align-items-center" >
                                <div class="col text-right">
                                    <button mat-icon-button class="text-super-blue" (click)="nextPatent()" [disabled]="startup.patents.length <= 1">
                                        next
                                        <mat-icon>navigate_next</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="w-100 super-row" style="margin-bottom: 2em;">
        <!-- Cstomers Logos -->
        <div class="w-100" *ngIf="startup.customerImgUrls && startup.customerImgUrls.length > 0">
            <div class="super-card">
                <h1>Customers</h1>
                <div class="mt-3 d-flex align-items-center">
                    <div style="width: 20%;" *ngFor="let customerImg of startup.customerImgUrls">
                        <img class="super-startup-img-md" [src]="customerImg" alt="Card image cap">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Key Product Features... small cards in rows -->
    <div class="row super-row" *ngIf="startup.features && startup.features.length > 0">
        <div class="col-4 mb-3" *ngFor="let feature of startup.features">
            <div class="super-card feature h-100">
                <strong class="font-weight-bold">{{feature.title}}</strong>
                <div class="mt-3 mb-0">
                    <p>{{feature.description}}</p>
                </div>
            </div>
        </div>
    </div>


</div>
