

<section class="row align-items-center">
    <div class="col-4">
        <h1 class="font-weight-bold super-label-xl">{{startup?.name}}</h1>
    </div>

    <div class="col text-right">

        <button mat-button class="align-items-center ml-2 super-button clear">
            <span class="material-icons"> playlist_add </span>
            Add to existing list
        </button>
        <button mat-button class="align-items-center ml-2 super-button clear">
            <span class="material-icons"> library_add </span>
            Add to new list
        </button>
        <button mat-button class="align-items-center ml-2 super-button clear">
            <span class="material-icons"> share </span>

            Share
        </button>
    </div>
</section>

<div *ngIf="!startup">
    startup could not be found
</div>

<div class="row mt-3" *ngIf="startup">
    
    <!-- main -->
    <div class="col">

        <div>
            <p class="m-0 p-0">{{startup.description}}</p>
        </div>

        <div class="mt-4" >
            <!-- tags -->
            <mat-chip-list aria-label="tags">
                <mat-chip *ngFor="let tag of startup.industryTags" class="super-chip">{{tag}}</mat-chip>
            </mat-chip-list>
            
        </div>

        
        <!-- banner -->
        <!-- <img class="super-startup-banner mt-5" src="assets/imgs/default-startup-banner.png" alt="Card image cap"> -->
        <img class="super-startup-banner mt-5" [src]="deckURL + '/' + deckIndex + '.png'" alt="Card image cap" (click)="nextImg()">

        <!-- founder info -->
        <div class="mt-5" *ngIf="startup.founderBackground">
            <h1 class="font-weight-bold">Founder Background</h1>
            <p class="mt-2">{{startup.founderBackground}}</p>
        </div>

        <!-- diligence -->
        <div class="mt-4" *ngIf="startup.initialDiligence">
            <h1 class="font-weight-bold">Initial Diligence</h1>
            <p class="mt-2">{{startup.initialDiligence}}</p>
        </div>

        <!-- TODO: customers logos -->
        <div class="mt-4" *ngIf="startup.customerImgUrls.length > 0">
            <h1 class="font-weight-bold">Customers</h1>
            <div class="d-flex mt-2">
                <div class="p-2" *ngFor="let customerImg of startup.customerImgUrls">
                    <img class="super-startup-img-md" [src]="customerImg" alt="Card image cap">
                </div>
            </div>
        </div>

        <!-- Pricing -->
        <div class="mt-5" *ngIf="startup.pricing">
            <h1 class="font-weight-bold">Unit Pricing</h1>
            <p class="mt-2">{{startup.pricing}}</p>
        </div>

        <!-- Key Product Features... small cards in rows -->
        <div class="row mt-4">
            <div class="col-12">
                <h1 class="font-weight-bold">Key Product Features</h1>
            </div>
            <!-- TODO: create class for "feature card" -->
            <div class="col-6 pr-0 mb-1 mt-2" *ngFor="let feature of startup.features">
                <div class="card super-card p-2">
                    <strong class="font-weight-bold">{{feature.title}}</strong>
                    <div class="mt-1 mb-0">
                        <p>{{feature.description}}</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Company History -->
        <div class=" mt-4">
            <h1 class="font-weight-bold">Company History</h1>
            <div class="mt-2">
                <img class="super-startup-banner" [src]="startup.historyImgUrl" alt="Card image cap">
            </div>
        </div>

        <!-- Patents -->
        <div class=" mt-4">
            <h1 class="font-weight-bold">Patents</h1>
            <div class="mt-2">
                <!--TODO: features-->
            </div>
        </div>


        <!-- Patents... card with startup data:
            Title (Patent)
            Number (Patent)
            Abstract
            Type
            Filed (date)
            date of patent
        -->

    </div>

    <!-- card -->
    <div class="col-3" style="min-width: 350px;">
        <div class="card super-card startup-detail p-4" >
            <div>

                <div class="row">
                    <div class="col">
                        <img class="super-startup-img-md" [src]="startup.startupImgUrl" alt="Card image cap">
                    </div>
                    <div class="col text-right">
                        <button mat-button class="ml-1 super-button new">NEW</button>
                    </div>
                </div>

                <mat-list role="list" class="super-list p-0 mt-4">
                    
                    <mat-list-item role="listitem" *ngIf="startup.founders.length > 0">
                        <div class="row">
                            <strong class="col-12">Founder(s):</strong>
                            <div class="col">
                                <span *ngFor="let founder of startup.founders; let i = index">{{ i+1 == startup.founders.length ? founder: founder + ", "}} </span>
                            </div>
                        </div>
                    </mat-list-item>

                    <mat-divider class="my-2"></mat-divider>

                    <mat-list-item role="listitem">
                        <div class="row">
                            <strong class="col-12">Location:</strong>
                            <div class="col">
                                <span>{{startup.location}}</span>
                            </div>
                        </div>
                    </mat-list-item>
                    <mat-list-item role="listitem">
                        <strong>Website: </strong>
                        <a [href]="startup.websiteURL">{{startup.websiteURL}}</a>
                    </mat-list-item>
                    <mat-list-item role="listitem">
                        <strong>Employees: </strong>
                        <span>{{startup.employeeCount}}</span>
                    </mat-list-item>
                    <mat-list-item role="listitem">
                        <strong>Total Funding: </strong>
                        <span>{{startup.funding}}</span>
                    </mat-list-item>
                    <mat-list-item role="listitem">
                        <strong>Last Funding Round: </strong>
                        <span>{{startup.lastFunding}}</span>
                    </mat-list-item>
                    <mat-list-item role="listitem">
                        <strong>Year Founded: </strong>
                        <span>{{startup.yearFounded}}</span>
                    </mat-list-item>
                    <mat-list-item role="listitem">
                        <div class="row">
                            <strong class="col-12">Notable Investors:</strong>
                            <div class="col">
                                <span *ngFor="let investor of startup.notableInvestors; let i = index">{{ i+1 == startup.notableInvestors.length ? investor: investor + ", "}} </span>
                            </div>
                        </div>
                    </mat-list-item>
                    <!-- <mat-list-item role="listitem">
                        <div class="row">
                            <strong class="col-12 mb-2">Tech Stack:</strong>
                            <p class="col-12" *ngFor="let tStack of startup.techStackTags; let i = index">{{ i+1 == startup.techStackTags.length ? tStack : tStack}} </p>
                        </div>
                    </mat-list-item>
                    <mat-list-item class="mt-1 pt-" role="listitem">
                        <strong>Oracle Application Integration:</strong>
                        <span>{{startup.oracleIntegration ? "YES" : "NO"}}</span>
                    </mat-list-item>
                    <mat-list-item role="listitem">
                        <div>
                            <strong>SAP Application Integration:</strong>
                            <span>{{startup.sapAppIntegration ? "YES" : "NO"}}</span>
                        </div>

                    </mat-list-item>
                    <mat-list-item role="listitem">
                        <div>
                            <strong>CAC:</strong>
                            <span>{{startup.sapAppIntegration ? "YES" : "NO"}}</span>
                        </div>
                    </mat-list-item>
                    <mat-list-item role="listitem">
                        <strong>Monthly Burn Rate:</strong>
                        <span>{{startup.monthlyBurnRate}}</span>
                    </mat-list-item>
                    <mat-list-item role="listitem">
                        <strong>Monthly Revenue:</strong>
                        <span>{{startup.monthlyRevenue}}</span>
                    </mat-list-item> -->
                </mat-list>
            </div>
            <div class="w-100 text-center mt-5">
                <button mat-flat-button class="super-button blue" (click)="requestUpdate()">
                    Request Intro
                </button>
            </div>
        </div>

    </div>
</div>
